/* Variable declarations */

:root {
    --primary-back-color: #111827;
    --primary-container-color: #1F2937;
    --secondary-container-color: #2F3E53;
    --primary-green: #10B981;
    --secondary-green: #4ADF86;
    --regular-font-color: #9CA3AF;
}

/* Styles */

body {
    margin: 0;
    background-color: var(--primary-back-color);
}

.container {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-container-color);
    margin: 100px auto auto;
    width: min(500px, 100%);
    border-radius: 20px;
    padding: 25px;
}

.results_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

hr {
    color: var(--secondary-container-color);
    background-color: var(--secondary-container-color);
    height: 1px;
    border-style: none;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 300%;
    font-weight: 2000;
    margin: 5px auto;
}

#first_line {
    color: white;
}

#second_line {
    color: var(--secondary-green);
}

#desc {
    color: var(--regular-font-color);
    font-size: 100%;
}

label {
    color: var(--regular-font-color);
    font-size: 100%;
}

input {
    margin: 5px auto;
}

#pass_length {
    border-radius: 2px;
    background-color: var(--secondary-container-color);
    color: var(--secondary-green);
    border-style: none;
    padding: 5px;
    outline-style: none;
    height: 20px;
}

#copy_msg {
    text-align: center;
    color: var(--secondary-green);
}

#generate_btn {
    background-color: var(--primary-green);
    color: white;
    padding: 10px 15px;
    border-style: none;
    border-radius: 3.5px;
    width: auto;
    font-size: 100%;
}

.result:hover {
    background-color: #364864;
}

.result {
    border-radius: 5px;
    text-align: center;
    color: var(--secondary-green);
    padding-top: 10px;
    margin: 5px;
    height: 30px;
    width: 225px;
    background-color: var(--secondary-container-color);
}
